@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	background-color: #404E4D;
	color: #94FBAB;
}

main {
    width: 80%;
}

header {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 30px;
	text-transform: uppercase;
  	display: inline-block;
    font-kerning: 20em;
}

#onboard {
    width:100%;
    height:100%;
    background: url(images/headergator.jpg) 50% 0 no-repeat;
    background-size:cover;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
}

p {
	font-family: 'Lora', serif;
	font-size: 14px;
	line-height: 1.5em;
}

ul {
    font-family: 'Lora', serif;
    margin: 1em;
    padding: 1em;
    font-size: 1em;
  }


footer {
	text-align: center;
	padding: 1em;
	background-color: #646881;
	}

nav {
	background-color: #63595C;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-align: right;
}

img {
  display: block;
  margin: 0 auto;
}

#leftimage {
    width: 100%;
}

#rightimage {
    width: 100%;
}


#two_column {
    background-color: #FFB7CF;
    padding: 20px;
}

#left {
    padding: 20px;
    float: left;
    width: 35%;
}

#right {
    padding: 20px;
    float: right;   
    width: 35%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


@media only screen and (max-width: 1312px) {
    #left {
        float:none;
    }
    #right {
        float: none;
    }

}


@media only screen and (max-width: 262px) {
    #left {
        border: none;
        font-size: 1.5em
    }
    #right {
        border: none;
        font-size: 1.5em
    }
}




