@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

body {background-color: #82ABA1;
 	text-align: center;
	color: #94FBAB;
}

li {color: #A9FFF7;
}

h1 {
	font-family: 'Montserrat', Helvetica, sans-serif;
}

p, li {
	font-family: 'EB Garamond', Garamond, serif;
}

